 <header>
    <div class="header">
        <a href="index.html"><div class="logo"><img src="./assets/images/лого.webp" class="logo__logotip" ></div></a>
        <nav class="nav">
        <a href="index.html">ГЛАВНАЯ</a>
        <a href="index2.html">КАТАЛОГ</a>
        <a href="index3.html">О НАС</a>
        <a href="index4.html">КОНТАКТЫ</a>
        <a>ДОСТАВКА</a>
        </nav>

        <div class="header__icons">
            <div class="logo__like"><img src="./assets/images/корзина.webp" class="logo__izbr"></div>
            <div class="logo__like"><img src="./assets/images/избр.webp" class="logo__izbr"></div>
        </div>
        <div class="logo__like"><img src="./assets/images/профиль.webp" class="logo__izbr"></div>
        <div class="logo__like"><img src="./assets/images/луна.webp" class="logo__izbr"></div>
</div>


        <div class="menu">
            <a href="index.html"><div class="logo"><img src="./assets/images/лого.webp" class="logo__logotip"></div></a>
        <div class="menu__luna">
        <div><img src="./assets/images/меню.webp" alt="Меню" class="menu__icon"></div>
        <div class="logo__like"><img src="./assets/images/луна.webp" class="logo__izbr"></div>
            </div>
    </div>


    <div class="overlay">
        <div class="overlay__content">
            <span class="overlay__close">&times;</span>
            <nav class="overlay__nav">
                <a href="index.html">ГЛАВНАЯ</a><br>
                <a href="index2.html">КАТАЛОГ</a><br>
                <a href="index3.html">О НАС</a><br>
                <a href="index4.html">КОНТАКТЫ</a><br>
                <a>ДОСТАВКА</a>
            </nav>
            <div class="header__icons">
            <div class="logo"><img src="./assets/images/корзина.webp" class="logo__izbr"></div>
            <div class="logo__like"><img src="./assets/images/избр.webp" class="logo__izbr"></div>
        <div class="logo"><img src="./assets/images/профиль.webp" class="logo__izbr"></div>
        </div>
    </div>

    </header>